Alchemist/.vs
Alchemist/UserSettings
Alchemist/obj
Alchemist/Assembly-CSharp.csproj
Alchemist/Alchemist.sln
Alchemist/ProjectSettings/Packages/com.unity.probuilder/Settings.json
Alchemist/Library
Alchemist/Library/Bee
Alchemist/ScriptAssemblies
Alchemist/Logs
*.suo
*.csproj
Fallen Worlds/Library
